@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "Hakgyo R";
  src: url(../TU-2025-Spring/fonts/Hakgyoansim\ Allimjang\ OTF\ R.otf)
    format("opentype");
}

main {
    font: 15px "Hakgyo R";
    font-weight: 700;
}

/* header {
    background-color: #A62626;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
} */

.tab-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.tab-button {
    font: 18px "Hakgyo R";
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    background-color: #fffdd4;
    color: #df253a;
    font-weight: 400;
}

.tab-button.active {
    font: 18px "Hakgyo R";
    background-color: #df253a;
    color: #fffdd4;;
    font-weight: 600;
}

#tab-content {
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.poster {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 20px auto;
}

.map-placeholder {
    width: 100%;
    height: 200px;
    background-color: #C4C4C4;
    text-align: center;
    line-height: 200px;
    font-size: 18px;
    color: white;
}

ul, ol {
    padding-left: 20px;
}

.footer {
    background-color: #A62626;
    color: white;
    text-align: center;
    padding: 10px;
}
